.filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters .form-title {
  font-size: 17px;
}

.group-filters {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}

.input-filter {
  display: none;
}

.label-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 50px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  padding: 0 18px;
}

.label-filter:hover,
.input-filter:checked ~ /*.label-filter*/ {
  background-color: var(--filter-bg-color);
}

.search-footer {
  border-style: dotted;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
}

@media (max-width: 1024px) {
  .group-filters p {
    font-size: 15px;
  }

  .group-filters {
    margin-top: 0;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 18px;
  }
}

@media (max-width: 767.98px) {
  .filters {
    display: flex;

    align-items: center;
  }

  .filters h2 {
    display: flex;
    flex-direction: row-reverse;
    border-style: dotted;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .group-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 0;
  }

  .group-filter {
    display: flex;
    align-items: center;
  }
}

/*@media (max-width: 450px) {
  .filters {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .group-filter {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 5px;
    align-items: center;
  }
}*/
