.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
  gap: 25px;
}

.filters .filter-title {
  font: 700 18px "Raleway", sans-serif;
}

.group-filters {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 25px;
}

.filter {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 15px "Raleway", sans-serif;
  border: 2px solid;
  border-radius: 25px;
  height: 45px;
  padding: 4px 15px;
  cursor: pointer;
}

.filter:active {
  transform: translateY(2px);
}

.filter .icon {
  color: var(--main-color);
  font-size: 18px;
  margin-right: 8px;
}

.filter:hover {
  background-color: lightblue;
}

.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.info-bar p {
  font: 400 16px "Raleway", sans-serif;
}

.info-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid var(--main-bg-color);
  margin-right: 11px;
}

@media (max-width: 1024px) {
  .group-filters p {
    font-size: 15px;
  }

  .group-filters {
    margin-top: 0;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 18px;
  }
}

@media (max-width: 767.98px) {
  .filters {
    display: flex;

    align-items: center;
  }

  .filters h2 {
    display: flex;
    flex-direction: row-reverse;
    border-style: dotted;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .group-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 0;
  }

  .group-filter {
    display: flex;
    align-items: center;
  }
}

/*@media (max-width: 450px) {
  .filters {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .group-filter {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 5px;
    align-items: center;
  }
}*/
