.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.group-filter {
  display: flex;
  gap: 5px;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0px 15px;
  height: 45px;
  border: 2px solid var(--main-bg-color);
  border-radius: 30px;
  cursor: pointer;
  gap: 10px;
}

.filter:hover {
  background-color: var(--main-bg-color);
}

.filter h2 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.filters h2 {
  font-size: 17px;
  line-height: 21px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.info-circle {
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
