.footer-heb {
  margin-top: 0;
}

.foot-low {
  display: flex;
  gap: 200px;
  margin-top: 50px;
  background-color: var(--main-bg-color);
  padding-left: 15px;
}

@media (max-width: 1024px) {
  .foot-low {
    display: flex;
    gap: 100px;
    margin-top: 80px;
    background-color: var(--main-bg-color);
    padding-left: 15px;
    width: 100%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
