.l-header {
  border-style: dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  border-style: dotted;
  display: flex;
  align-items: center;
}

.logo {
  border-style: dotted;
  width: 61.09px;
  height: 19px;
}

nav ul {
  border-style: dotted;
  display: flex;
  align-items: end;
  flex-direction: row;
  height: 100px;
}

nav li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 100%;
}

nav li a {
  text-decoration: none;
  font: 400 16px "Raleway", sans-serif;
  color: var(--black);
}

nav li a:hover::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

nav li a:hover::before {
  background-color: var(--main-color);
  width: 100%;
}

@media (max-width: 1024px) {
}
@media (max-width: 767.98px) {
  .l-header {
    flex-direction: column;
    align-items: center;
  }

  .brand {
    margin-top: 21px;
    margin-bottom: 38px;
  }

  nav ul {
    width: 100%;
    height: 50px;
  }

  nav ul li {
    width: 50%;
  }
}
