header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style-type: none;
  margin: 0 30px;
}

.nav-link:hover {
  border-top: 2px solid var(--main-color);
}

header img {
  width: 61px;
  height: 19px;
}

@media (max-width: 1024px) {
  .nav-link:hover {
    border-top: 2px solid var(--main-color);
  }
}

@media (max-width: 767.98px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    margin: 0 auto;
  }

  .nav-link:hover {
    border-top: 2px solid var(--main-color);
  }
}
