header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0 30px;
}

header img {
  width: 61px;
  height: 19px;
}
