/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /************ACTIVITES************/
  .activites-cards a .card {
    width: 195px;
    height: 270px;
  }

  .activites-cards a .card img {
    width: 195px;
    height: 270px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .activites-cards h3 {
    gap: 10px;
    padding-left: 20px;
  }

  .foot-low {
    width: 900px;
    height: 160px;
    gap: 150px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  /********************SECTION SEARCH************/
  .search-info {
    display: flex;
    flex-direction: column;
  }

  .search-title h2 {
    width: 335px;
    height: 52px;
  }

  .search-title p {
    width: 335px;
    height: 19px;
  }

  .search-input {
    width: 335px;
  }

  .search-label {
    align-items: center;
  }

  .search-input i {
    width: 30px;
  }
}
