/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  header {
    width: auto;
    padding: 0px 0px 44px 70px;
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 145px;
    gap: 2rem;
    margin-bottom: 25px;
  }

  .populaires-cards a {
    width: 95%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .populaires {
    width: 100%;
    height: 90%;
    margin-left: 0px;
    margin-top: 17px;
    padding-top: 28px;
  }

  .populaires-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 130px 130px 130px;
  }

  .populaires-cards a {
    width: 33%;
  }
}
